<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h4>Eeh Vola!</h4>
					<p>Willkommen beim WhatsSpy Public PoC! Bevor Sie mit dem Tracking beginnen, lesen Sie bitte die
						<a target ="_blank" href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/home#license-cc-by-nc">
							Lizenz
						</a>.
						<span data-ng-bind-html="headline"></span>
					</p>
				</div>
			</div>	
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Login</h3>
			</div>
			<div class="panel-body">
				<small>Sie scheinen noch nicht authentifiziert zu sein. Bitte melden Sie sich an, um den Tracker anzuzeigen und zu verwalten.</small>
				<br />
				<br />
				<form onsubmit="return false;" ng-submit="attemptLogin()">
					<div class="form-group">
						<label for="inputPassword" class="control-label">Password</label>
						<input type="password" class="form-control" id="inputPassword" data-ng-model="inputPassword" placeholder="password ...">
					</div>
					<br />
					<br />
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Sign in</button>
						<span class="btn btn-default" data-ng-click="inputPassword = null">Reset</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
